@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.container {
    background-color: #141622;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-family: 'Press Start 2P', cursive;
    color: #00f3ff;
    margin: 0;
    font-size: 4rem;
}
header {
    margin: 20px;
}
.container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
}
header nav ul a {
    color: #f4f4f6;
}
body {
    background-color: #0d0e15;
}
.content-row {
    display: flex;
    align-items: center;
    max-width: 1700px;
    gap: 2rem;
    margin: 2rem auto;
}
.text-box {
    flex: 1;
}
.row-img {
    flex: 1;
    width: 100%;
    min-width: 700px;
    height: 350px;
    object-fit: cover;
    border: 2px solid #00f3ff;
}
.text {
    font-size: 2rem;
    color: #ff007f;
    line-height: 1.6;
    text-align: center;
}
.history {
    font-size: 1.25rem;
    color: #e2e8f0;
    text-align: left;
}
.content-two {
    display: flex;
    align-items: center;
    max-width: 1700px;
    gap: 2rem;
    margin: 2rem auto;
}
.row-two {
    flex: 1;
    width: 100%;
    min-width: 700px;
    max-width: 700px;
    height: 350px;
    object-fit: cover;
    border: 2px solid #00f3ff;
}
.text-two {
    font-size: 2rem;
    color: #ff007f;
    line-height: 1.6;
    text-align: center;
}
.doing {
    font-size: 1.25rem;
    color: #e2e8f0;
    text-align: left;
}
.content-nav {
    font-size: 1.25rem;
    color: #e2e8f0;
    text-align: left;
}
a:hover {
    color: orangered;
    text-decoration: underline;
}
footer {
    border-top: 2px solid #00f3ff;
    border-radius: 2px;
    padding: 6px;
}
footer nav {
    text-align: center;
    font-size: 1.2rem;
}
footer nav a {
    color: #ffe600;
}
footer p {
    text-align: right;
    color: #ff007f;
}